$medium: 900px;
$boardWidth: 60vw;
$boardHeight: 65vh;
$middleBarWidth: calc(#{$boardWidth} / 32.5);
$middleBarHeight:calc(#{$boardHeight} - 20px);
$arrowBorderHeight: calc(#{$boardHeight}/ 2.5);
$sideBorder:calc(#{$boardWidth}/ 28);
$pieceSize:calc(min(#{$boardWidth},#{$boardHeight}) / 13);


.frame{
  width: calc((#{$boardWidth}*1.02));
  height: calc((#{$boardHeight}*1.3));
  position: absolute;
  background-color: white;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

.loading{
  top:50%;
  left: 50%;
  position: absolute;
  transform:inherit;
}

.board {
  width: $boardWidth;
  height: $boardHeight;
  position: relative;
  background-color: #335533;
  box-sizing: border-box;
  border: 10px solid black;
  border-radius: 10px;
  padding: 0px;
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerContainer{
  display: flex;
  justify-content: center;
}
.topContainer{
  display: inline-block;
  width:100%;
}
.leftContainer{
  display: flex;
  float: left;
  justify-content: left;
}
.message{
  min-height: 40px;
  display: inline-flex;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
  color:red;
}
.rightContainer{
  display: flex;
  float: right;
  justify-content: right;
}
.turnsLeft{
  top:10px;
  right: 10px;
}
.fillIcon{
  background-color: black !important;
  fill: white !important;
}

.left-bin {
  position: relative;
  left: 5px;
  top: 0px;
}

.right-bin {
  position: relative;
  left: calc(#{$boardWidth}/1.9);
  top: calc((#{$boardHeight}/1.255)*-1);
}

.arrow-down {
  width: 0px;
  height: 0px;
  border-left: $sideBorder solid transparent;
  border-right: $sideBorder solid transparent;
  border-top: calc(#{$boardHeight}/ 2.5) solid green;
  border-bottom: 0px solid;
  display: inline;
  float: left;
}
.arrow-up {
  width: 0px;
  height: 0px;
  border-top: 0px solid;
  border-left: $sideBorder solid transparent;
  border-right: $sideBorder solid transparent;
  border-bottom: $arrowBorderHeight solid green;
  display: inline;
  float: left;
}
.arrow-up.odd {
  border-bottom: $arrowBorderHeight solid #044;
}

.arrow-down.even {
  border-top: $arrowBorderHeight solid #044;
}

.left-bin .bottom-row {
  clear: left;
}

.right-bin .top-row {
  clear: left;
}

.right-bin .bottom-row {
  clear: left;
}

.bottom-row {
  position: relative;
  top: calc(#{$middleBarHeight/6.2});
}




.middle-bar {
  width: $middleBarWidth;
  height: $middleBarHeight;
  padding: 5px;
  background-color: black;
  position: absolute;
  left: calc(#{$boardWidth}/ 2 - #{$middleBarWidth});
  top: 0px;
}
%piece{
  width: $pieceSize;
  height: $pieceSize;  
  opacity: 0.9;
  position: absolute;
  z-index: 1;
  border-radius: 500px;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content:center;
}
.aboveFive{
  font-size: 18px;
  font-weight: bold;
}
.piece_black{
  @extend %piece;
  background-color: black;
  span{
    color: white
  }
}
.piece_white{
  @extend %piece;
  background-color:white;
}
.canBeMoved:hover{
  opacity:0.7!important;
  cursor:pointer;
}
.optional{
  width: calc(#{$pieceSize}*1.2)!important;
  height: calc(#{$pieceSize}*1.2)!important;  
  border: 3px solid orange;
  opacity:0.5!important;
}
.optional:hover{
  border: 5px solid orange;
  opacity:0.7!important;
  cursor: pointer;
}
.optional:active{
  cursor:grab;
}
.top_row_1{
  top:0px;
}
.top_row_2{
  top:$pieceSize
}
.top_row_3{
  top:calc((#{$pieceSize}+2px)*2)
}
.top_row_4{
  top:calc((#{$pieceSize}+2px)*3)
}
.top_row_5{
  top:calc((#{$pieceSize}+2px)*4)
}
.top_row_100{
  top:calc((#{$pieceSize}+2px)*6.5)!important;
  left:calc(#{$boardWidth}/2.17)!important;
}
.top_row_101{
  top:calc((#{$pieceSize}+2px)*5)!important;
  left:calc(#{$boardWidth}/2.17)!important;
  border: 3px solid white;

}
.bottom_row_1 {
  bottom:0px;
}
.bottom_row_2 {
  bottom:$pieceSize
}
.bottom_row_3 {
  bottom:calc((#{$pieceSize}+2px)*2)
}
.bottom_row_4 {
  bottom:calc((#{$pieceSize}+2px)*3)
}
.bottom_row_5 {
  bottom:calc((#{$pieceSize}+2px)*4)
}
.column_12{
  left:calc(#{$boardWidth}/100);
}
.column_11{
  left:calc(#{$boardWidth}/11.9);
}
.column_10{
  left:calc(#{$boardWidth}/6.45);
}
.column_9{
  left:calc(#{$boardWidth}/4.39);
}
.column_8{
  left:calc(#{$boardWidth}/3.355);
}
.column_7{
  left:calc(#{$boardWidth}/2.69);
}
.column_6{
  left:calc(#{$boardWidth}/1.885);
}
.column_5{
  left:calc(#{$boardWidth}/1.66);
}
.column_4{
  left:calc(#{$boardWidth}/1.485);
}
.column_3{
  left:calc(#{$boardWidth}/1.344);
}
.column_2{
  left:calc(#{$boardWidth}/1.2244);
}
.column_1{
  left:calc(#{$boardWidth}/1.127);
}
.column_0{
  left:calc(#{$boardWidth});
}

@media screen and (min-width: $medium) {
  .column_12{
    left:calc(#{$boardWidth}/85);
  }
  .column_11{
    left:calc(#{$boardWidth}/12);
  }
  .column_10{
    left:calc(#{$boardWidth}/6.52);
  }
  .column_9{
    left:calc(#{$boardWidth}/4.4);
  }
  .column_8{
    left:calc(#{$boardWidth}/3.39);
  }
  .column_7{
    left:calc(#{$boardWidth}/2.7);
  }
  .column_6{
    left:calc(#{$boardWidth}/1.865);
  }
  .column_5{
    left:calc(#{$boardWidth}/1.648);
  }
  .column_4{
    left:calc(#{$boardWidth}/1.476);
  }
  .column_3{
    left:calc(#{$boardWidth}/1.335);
  }
  .column_2{
    left:calc(#{$boardWidth}/1.219);
  }
  .column_1{
    left:calc(#{$boardWidth}/1.115);
  }
  .column_0{
    left:calc(#{$boardWidth});
  }
  .top_row_100{
    top:calc((#{$pieceSize}+2px)*6.5)!important;
    left:calc(#{$boardWidth}/2.17)!important;
  }
  .top_row_101{
    top:calc((#{$pieceSize}+2px)*5)!important;
    left:calc(#{$boardWidth}/2.17)!important;
    border: 3px solid white;

  }
}